.map-section {
  margin-top: 3rem;
  margin-left: 9.875rem;
}

#map {
  height: 16rem;
  border-radius: var(--corner-radius);
  margin-bottom: 1.5rem;
}

@keyframes markerDrop {
  0% {
    top: -200px;
  }
  50% {
    top: 0;
  }
  75% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}

.marker {
  background-size: cover;
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: relative;
  animation: markerDrop 1s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
